.register-container {
    width: 1072px;
    height: 683.59px;
    border-radius: 35px;
    background-color: #3F3E3E;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-container .content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .register-container .content section {
    width: 100%;
    max-width: 380px;
    background-color: #3F3E3E;
  }
  
  .register-container .content section a {
    margin: 64px 0 32px;
    font-size: 64px;
    font-weight: 700;
    position: absolute;
    left: 600px;
    top: 70px;
    color: white;
  }
  
  .register-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
  }
  
  .register-container .content form {
    width: 100%;
    max-width: 450px;
    
  }
  
  .register-container .content form input {
    margin-top: 8px;
    
  }
  
  .register-container .content form .input-group {
    display: flex;
  }
  
  .register-container .content form .input-group input + input {
    margin-left: 8px;
  }