nav.imageWrapper{
    position: relative
}

nav.imageWrapper div.img { position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: -15px;
    z-index: 0;
    max-height: 70vh;
    background-size: cover;
background: url('../images/fundonav.png');
z-index: -1
}